<div class="container">
  <div class="row mt-3">
    <div class="col-5 pl-0">
      <div class="card">
        <div class="card-header">
          <h4 class="mt-1">Ganancias hoy</h4>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead class="bg-table">
              <tr>
                <th scope="col-2"># Pagos</th>
                <th scope="col-5">Fecha</th>
                <th scope="col-5">USD</th>
              </tr>
            </thead>
            <tbody class="bg-table-cell">
              <tr>
                <th scope="col-2">{{ gananciaHoy.id }}</th>
                <td scope="col-5">
                  {{ ganancias[0].fecha | date: "dd-MM-yyyy" }}
                </td>
                <td scope="col-5">{{ gananciaHoy.ingresos | number }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-7 pr-0">
      <div class="card">
        <div class="card-header">
          <h4 class="mt-1">Ganancias Totales</h4>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead class="bg-table">
              <tr>
                <th scope="col-2">Usuario</th>
                <th scope="col-4">Valor Total</th>
                <th scope="col-2">Número de Transacciones</th>
                <th scope="col-2">Dias de ganancias</th>
              </tr>
            </thead>
            <tbody class="bg-table-cell">
              <tr>
                <td scope="col-2">{{ gananciaTotal.usuario.userName }}</td>
                <td scope="col-4">
                  {{ gananciaTotal.valorNeto | number }}
                </td>
                <td scope="col-2">
                  {{ gananciaTotal.numeroTransacciones | number }}
                </td>
                <td scope="col-2">
                  {{ gananciaTotal.diasActivo | number }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 px-0">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-7">
              <h3>Historico ganancias.</h3>
            </div>
            <div class="col-5">
              <div class="float-right">
                <label for="selectPage" class="mx-2">
                  <b>Tamaño de la Tabla</b></label
                >
                <select
                  id="selectPage"
                  class="custom-select w-auto"
                  [(ngModel)]="pageSize"
                  (ngModelChange)="pageSize = $event"
                >
                  <option
                    *ngFor="let option of itemsPag"
                    [value]="option"
                    [selected]="pageSize === option"
                  >
                    {{ option }} items por página
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body pb-0">
          <table class="table table-striped">
            <thead class="bg-table">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cantidad (USD)</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody class="bg-table-cell">
              <tr
                *ngFor="
                  let item of ganancias
                    | paginate: { itemsPerPage: pageSize, currentPage: page };
                  let i = index
                "
              >
                <!-- (pagina -1)*tamPag :  ((pagina)*tamPag) -->
                <th scope="row">{{ i + 1 + (page - 1) * pageSize }}</th>
                <td>{{ item.fecha | date: "dd-MM-yyyy" }}</td>
                <td>
                  {{ item.gananciaDiariaId.ingresos | number }}
                </td>
                <td>{{ item.valorTotal | number }}</td>
              </tr>
            </tbody>
          </table>

          <div class="mx-auto" style="width: 50%">
            <pagination-controls
              responsive="true"
              autoHide="true"
              previousLabel="Anterior"
              nextLabel="Siguiente"
              (pageChange)="page = $event"
            >
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
