<div class="sidebar">

    <div class="logo">
        <img src="../../../../../assets/images/logo-investcorp.png" width="120" height="120" class="d-inline-block" alt="">
    </div>

    <input type="search" name="" id="">

    <a [routerLink]="['/dashboard/main']" routerLinkActive="active" class="btn btn-main">Dash Board</a>
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="btn btn-main">Opcion 1</a>
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="btn btn-main">Opcion 2</a>
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="btn btn-main">Opcion 3</a>
    <a [routerLink]="['/dashboard/config']" routerLinkActive="active" class="btn btn-main">Configuración</a>

</div>