<!-- <div class="sidebar" *ngIf="!menuBar">

    <button type="button" class="btn btn-menu" (click)="changeMenu()">
        <i class="bi bi-menu-app-fill" *ngIf="!menuBar"></i>
        <i class="bi bi-menu-button-wide-fill" *ngIf="menuBar"></i>
    </button>

    <div class="logo">
        <img src="../../../../../assets/images/logo-investcorp.png" width="200" height="100" class="d-inline-block" alt="">
    </div>

    <input type="search" name="" id="">

    <a [routerLink]="['/dashboard/main']" routerLinkActive="active" class="btn btn-main">
        <i class="bi bi-rainbow"></i> DashBoard
    </a>
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="btn btn-main">
        <i class="bi bi-arrow-right-circle-fill"></i> Opcion 1
        <i class="bi bi-chevron-bar-down dropdown"></i>
    </a>
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="btn btn-main">
        <i class="bi bi-arrow-right-circle-fill"></i> Opcion 2
    </a>
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="btn btn-main">
        <i class="bi bi-arrow-right-circle-fill"></i> Opcion 3
    </a>
    <a [routerLink]="['/dashboard/config']" routerLinkActive="active" class="btn btn-main">
        <i class="bi bi-gear-fill"></i> Configuración
    </a>

</div>

<div class="sidebar" *ngIf="menuBar">

    <button type="button" class="btn btn-menu" (click)="changeMenu()">
        <i class="bi bi-menu-app-fill" *ngIf="!menuBar"></i>
        <i class="bi bi-menu-button-wide-fill" *ngIf="menuBar"></i>
    </button>

    <div class="logo">
        <img src="../../../../../assets/images/icono-investcorp.png" width="60" height="30" class="d-inline-block" alt="">
    </div>

    <input type="search" name="" id="">

    <a [routerLink]="['/dashboard/main']" routerLinkActive="active" class="btn btn-main">
        <i class="bi bi-rainbow"></i>
    </a>
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="btn btn-main">
        <i class="bi bi-arrow-right-circle-fill"></i>
    </a>
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="btn btn-main">
        <i class="bi bi-arrow-right-circle-fill"></i>
    </a>
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="btn btn-main">
        <i class="bi bi-arrow-right-circle-fill"></i>
    </a>
    <a [routerLink]="['/dashboard/config']" routerLinkActive="active" class="btn btn-main">
        <i class="bi bi-gear-fill"></i>
    </a>

</div> -->

<!-- <nav class="nav flex-column">
  <a
    [routerLink]="['/dashboard/main']"
    routerLinkActive="active"
    class="nav-link active"
    >Active</a
  >
  <a [routerLink]="['/dashboard']" routerLinkActive="active" class="nav-link"
    >Link</a
  >
  <a [routerLink]="['/dashboard']" routerLinkActive="active" class="nav-link"
    >Link</a
  >
  <a
    [routerLink]="['/dashboard/config']"
    routerLinkActive="active"
    class="nav-link"
    >Ajustes</a
  >
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
    >Disabled</a
  >
</nav> -->

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-blue-invest sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard/main']" routerLinkActive="active">
                    <span data-feather="home"></span> Dashboard
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard/store']" routerLinkActive="active">
                    <span data-feather="file"></span> Tienda
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard/network']" routerLinkActive="active">
                    <span data-feather="shopping-cart"></span> Red
                </a>
            </li>
        </ul>

        <h6 class="
        sidebar-heading
        d-flex
        justify-content-between
        align-items-center
        px-3
        mt-4
        mb-1
        text-light
      ">
            <span>User Account</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard/config']" routerLinkActive="active">
                    <span data-feather="layers"></span> Configuracion
                </a>
            </li>
            <!-- <li class="nav-item">
        <a class="nav-link" href="#/dashboard">
          <span data-feather="file-text"></span>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/dashboard">
          <span data-feather="file-text"></span>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/dashboard">
          <span data-feather="file-text"></span>
          Year-end sale
        </a>
      </li> -->
        </ul>
    </div>
</nav>