<section class="mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card text-left">
        <div class="card-header">Producto 1</div>
        <div class="row">
          <div class="card-body col-8 text-center d-flex flex-column">
            <h5 class="card-title m-3">Special title treatment</h5>
            <p class="card-text m-3">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a
              href="#/dashboard/store"
              class="btn btn-primary m-3 mt-auto align-self-center"
              >Go somewhere</a
            >
          </div>
          <div class="col-4">
            <img src="/assets/images/dummy_qr_bitcoin_delete.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card text-left">
        <div class="card-header">Producto 2</div>
        <div class="row">
          <div class="card-body col-8 text-center d-flex flex-column">
            <h5 class="card-title m-3">Special title treatment</h5>
            <p class="card-text m-3">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a
              href="#/dashboard/store"
              class="btn btn-primary m-3 mt-auto align-self-center"
              >Go somewhere</a
            >
          </div>
          <div class="col-4">
            <img src="/assets/images/dummy_qr_bitcoin_delete.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
