<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">


        <a class="py-2" href="#" aria-label="Product">
            <div class="left ml-3">
                <svg class="d-block mx-auto mt-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" role="img" viewBox="0 0 24 24" focusable="false"><title>Home</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
                <h3 class="ml-2 ">Invest Corp</h3>
            </div>

        </a>

        <div class="right">
            <a class="py-2 d-none d-md-inline-block" href="#/login">Iniciar Sesión</a>
            <a class="py-2 d-none d-md-inline-block" href="#/registro">Registrarse</a>
        </div>

    </div>
    <br>
    <div class="container">
        <h1 class="display-4">
            <i class="bi bi-cart-check"></i> Invest Corp!
        </h1>
        <hr>
        <p>Bien ahora es momento de Ingresar o Registrarte</p>
        <a class="btn btn-main btn-lg m-3" href="#/login" role="button">Iniciar Sesión</a>
        <a class="btn btn-main btn-lg m-3" href="#/registro" role="button">Registrarse</a>
    </div>
</nav>

<section id="init">
    <div class="jumbotron">
        <h1 class="display-4">
            <i class="bi bi-emoji-laughing emoji"></i> Bienvenido
        </h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam officia consequuntur nam eligendi perferendis, debitis reprehenderit maiores esse placeat ea. Quasi tenetur quibusdam similique error aut sint incidunt ipsa quaerat?</p>
        <hr class="my-4">

    </div>
</section>

<section id="performance">

</section>