/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body {
    background-color: var(--second-bg-color);
}

:root {
    --main-bg-color: #f4f1eb;
    --second-bg-color: #1F41A0;
    --primary-color: #00841E;
    --nav-color: #00841E;
    --second-color: #2c5623;
    --footer-color: #0f8135;
    --light-color: rgb(204, 255, 189);
}

.btn-main {
    background-color: transparent;
    border: 1.5px solid var(--primary-color);
    border-radius: 5%;
    color: var(--primary-color);
    font-weight: 600;
}

.btn-main:hover {
    background-color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 5%;
    color: var(--main-bg-color);
}

.btn-bg {
    background-color: transparent;
    border: 1.5px solid var(--main-bg-color);
    border-radius: 5%;
    color: var(--main-bg-color);
    font-weight: 600;
}

.btn-bg:hover {
    background-color: var(--main-bg-color);
    border: 1.5px solid var(--main-bg-color);
    border-radius: 5%;
    color: var(--primary-color);
}

.btn-blue {
    background-color: transparent;
    border: 1.5px solid var(--second-bg-color);
    border-radius: 5%;
    color: var(--second-bg-color);
    font-weight: 600;
}

.btn-blue:hover {
    background-color: var(--second-bg-color);
    border: 1.5px solid var(--second-bg-color);
    border-radius: 5%;
    color: var(--main-bg-color);
}

.btn-back {
    background-color: transparent;
    border: 2px solid var(--red);
    border-radius: 5%;
    color: var(--red);
    font-weight: 600;
}

.btn-back:hover {
    background-color: var(--red);
    border: 1.5px solid var(--red);
    border-radius: 5%;
    color: var(--main-bg-color);
}

.btn-bg {
    background-color: transparent;
    border: 1.5px solid var(--main-bg-color);
    border-radius: 5%;
    color: var(--main-bg-color);
    font-weight: 600;
}

.btn-bg:hover {
    background-color: var(--main-bg-color);
    border: 1.5px solid var(--main-bg-color);
    border-radius: 5%;
    color: var(--primary-color-color);
}

.big-icon {
    font-size: 2rem;
    ;
}

.links a {
    color: crimson !important;
}

.links a:link {
    color: crimson !important;
}

.links a:hover {
    color: var(--indigo)!important;
    transition: color, 0.4s;
}

hr {
    border: 0;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    border-top: 1px solid rgb(204, 255, 189);
}

.form-group {
    position: relative;
    margin-bottom: 2rem;
    color: var(--main-bg-color);
}