<!-- <h1 class="text-white">dashboard works!</h1> -->
<div class="app" *ngIf="!menuExpand">
    <div class="header">
        <app-navbar></app-navbar>
    </div>

    <div class="aside">
        <app-sidebar (menuEmit)="menuExpand=$event"></app-sidebar>
    </div>
    <div class="window">
        <h1>Bienvenido</h1>
        <router-outlet></router-outlet>
    </div>

    <div class="footer">

    </div>
</div>

<div class="a-app" *ngIf="menuExpand">
    <div class="header">
        <app-navbar></app-navbar>
    </div>

    <div class="aside">
        <app-sidebar (menuEmit)="menuExpand=$event"></app-sidebar>
    </div>
    <div class="window">
        <h1>Bienvenido</h1>
        <router-outlet></router-outlet>
    </div>

    <div class="footer">

    </div>
</div>